
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-ast
    - id: end-of-file-fixer
      exclude: github_deploy_key_wesleybowman_utide.enc
    - id: check-docstring-first
    - id: check-added-large-files
    - id: requirements-txt-fixer
    - id: file-contents-sorter
      files: requirements-dev.txt
    - id: trailing-whitespace
    - id: debug-statements

- repo: https://github.com/psf/black
  rev: 25.11.0
  hooks:
  - id: black
    language_version: python3

- repo: https://github.com/asottile/add-trailing-comma
  rev: v4.0.0
  hooks:
    - id: add-trailing-comma

- repo: https://github.com/keewis/blackdoc
  rev: v0.4.6
  hooks:
    - id: blackdoc

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      exclude: >
          (?x)^(
              .*\.yaml
          )$
      args:
        - --ignore-words-list=fo,htmp

- repo: https://github.com/asottile/add-trailing-comma
  rev: v4.0.0
  hooks:
    - id: add-trailing-comma

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.14.7
  hooks:
    - id: ruff
      args: ["--fix", "--show-fixes"]

- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.11.1
  hooks:
    - id: pyproject-fmt
