include *.txt
include README.md
include pyproject.toml

graft utide

prune docs
prune tests
prune notebooks
prune *.egg-info

global-exclude *.mat

exclude *.yaml
exclude .gitignore
exclude utide/_version.py
