black
check-manifest
doctr
flake8
flake8-builtins
flake8-comprehensions
flake8-mutable
isort
matplotlib
mkdocs
mkdocs-material
mkdocstrings-python
mypy
pandas
pre-commit
pycodestyle
pylint
pytest
pytest-cov
pytest-xdist
setuptools_scm
twine
