black
check-manifest
doctr
flake8
flake8-builtins
flake8-comprehensions
flake8-mutable
isort
matplotlib
mypy
nbsphinx
pandas
pre-commit
pycodestyle
pylint
pytest
pytest-cov
pytest-xdist
setuptools_scm
sphinx
twine
