name: Tests

on:
  pull_request:
  push:
    branches: [ master, main ]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]
        os: [ windows-latest, ubuntu-latest, macos-latest ]
        # Oldest one based on NEP-29 and latest one.
        # See https://numpy.org/neps/nep-0029-deprecation_policy.html
        numpy-version: [ "1.26", "2" ]
        exclude:
          - python-version: "3.13"
            numpy-version: "1.26"
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1

    - name: Setup Micromamba Python ${{ matrix.python-version }}
      uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
      with:
        environment-name: TEST
        init-shell: bash
        create-args: >-
          python=${{ matrix.python-version }} pip numpy=${{ matrix.numpy-version }}
          --file requirements.txt
          --file requirements-dev.txt
          --channel conda-forge

    - name: Install utide
      run: >
        python -m pip install -e . --no-deps --force-reinstall

    - name: Run tests
      run: |
        pytest -rxs --cov=utide tests
